<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <title> 선택 | 아무도 모르는 노래 추천 서비스 </title>

    <!-- Bootstrap Core CSS -->

    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="css/style.css">

    <!-- Custom Fonts -->

   <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>


    <!-- Custom Animations -->

    <link rel="stylesheet" href="css/animate.css">

</head>

<body>
    <!-- genres Section -->
    <section id="genres">
        <div class="container-fluid wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">원하는 장르를 선택하세요</h2>
                    <h3 class="section-subheading text-muted">당신의 취향 기반에 추천해드립니다.</h3>
                </div>
            </div>
        </div>
        <div class="genres-wrapper genres-container-fluid">
            <div class="genres-items">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 work-grid php graphic">
                    <div class="genres-item">
                        <div class="hover-bg">
                            <a href="result" class="genres-link">
                                <div class="hover-text">
                                    <h4>락</h4>
                                    <h5>rock</h5>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/genres/1.jpg" class="img-responsive" alt="genres-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 work-grid php graphic">
                    <div class="genres-item">
                        <div class="hover-bg">
                            <a href="result" class="genres-link">
                                <div class="hover-text">
                                    <h4>일렉</h4>
                                    <h5>electronic</h5>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/genres/2.jpg" class="img-responsive" alt="genres-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 work-grid wordpress bootstrap">
                    <div class="genres-item">
                        <div class="hover-bg">
                            <a href="result" class="genres-link">
                                <div class="hover-text">
                                    <h4>힙합</h4>
                                    <h5>hip-hop</h5>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/genres/3.jpg" class="img-responsive" alt="genres-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 work-grid wordpress html bootstrap graphic">
                    <div class="genres-item">
                        <div class="hover-bg">
                            <a href="result" class="genres-link">
                                <div class="hover-text">
                                    <h4>어쿠스틱</h4>
                                    <h5>acoustic</h5>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/genres/4.jpg" class="img-responsive" alt="genres-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 work-grid wordpress graphic">
                    <div class="genres-item">
                        <div class="hover-bg">
                            <a href="result" class="genres-link">
                                <div class="hover-text">
                                    <h4>재즈</h4>
                                    <h5>jazz</h5>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/genres/5.jpg" class="img-responsive" alt="genres-image">
                            </a>
                        </div>
                    </div>
                </div>  
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 work-grid wordpress html graphic">
                    <div class="genres-item">
                        <div class="hover-bg">
                            <a href="result" class="genres-link">
                                <div class="hover-text">
                                    <h4>팝</h4>
                                    <h5>pop</h5>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/genres/6.jpg" class="img-responsive" alt="genres-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Color Settings script -->
    <script src="js/settings-script.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    
    <!-- SmoothScroll script -->
    <script src="js/smoothscroll.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/xBe.js"></script>
    <!-- Isotope -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Footer Reveal scirt -->
    <script src="js/footer-reveal.js"></script>

</body>

</html>